.opty-list-container{

    border: 1px solid;
    margin:5px;
    overflow-y: auto;
    display: inline-block;
    max-width: 40%;
    min-width: 40%;
}

.opty-list{

    list-style: none;
    margin: 2px;
    padding:0px;
}

.opty-list li{

    border: solid 1px;
    margin: 5px;
    padding-left: 3px;
}

.opty-list li:hover{

    background-color: lightblue;
    cursor: pointer;
}

.highlighted{

    background-color: lightblue;
}

.normal{

    background-color: white;
}